<div class="password-steps {{stepClass}}">
  <div class="password-indicator">
    <div class="indicator-item"></div>
    <div class="indicator-item"></div>
    <div class="indicator-item"></div>
  </div>
  <ul class="password-rules">
    <li class="rules-item {{stepOneClass}}">Pelo menos 6 caracteres</li>
    <li class="rules-item {{stepTwoClass}}">Pelo menos 1 letra maiúscula</li>
    <li class="rules-item {{stepThreeClass}}">Pelo menos 1 número</li>
  </ul>
</div>