@font-face {
  font-family: 'Soleil-Regular';
  src: url('/fonts/soleil/Soleil-Regular.eot');
  src: url('/fonts/soleil/Soleil-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/soleil/Soleil-Regular.woff') format('woff'),
  url('/fonts/soleil/Soleil-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}