$primary: #312F4F;
$secondary: #17D499;
$white: #FFFFFF;
$white-stripe: #F2F2F2;
$gray: #696D8C;
$gray-secondary: #B6B9D0;
$gray-ciano: #719ECE;
$gray-frozen: #EAEAF4;
$yellow: #F7BC1C;
$red-orange: #F79682;